@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
p {
  margin: 16px 0;
}

p {
  text-align: justify;
}

header {
  background-color: #f0544f;
  overflow: hidden;
}

a {
  color: initial;
  text-decoration: none;
}

ul li {
  list-style: none;
}

nav {
  float: right;
  padding: 8px 0;
}

nav a {
  color: white;
  margin-left: 8px;
  font-weight: 900;
  text-transform: uppercase;
}

.splash {
  position: relative;
  text-align: center;
  color: white;
}

.splash img {
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.splash h1 {
  color: #f0544f;
  font-size: 64px;
}

.splash h2 {
  font-size: 40px;
  font-weight: 300;
}

.splash a {
  color: #d81e5b;
  text-transform: uppercase;
  font-weight: 900;
}

.content {
  width: 66%;
  margin: 0 auto;
}

.content h1 {
  color: #d81e5b;
}

.link {
  font-weight: 900;
  color: #d81e5b;
  text-transform: uppercase;
}

#splash-text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
